<div class=" row aligns-items-center ">
    {{#each coffee as |cup|}}
    <div class="col container d-flex position-relative flex-wrap">
        <div class="card d-flex position-relative flex-column">
            <div class='imgContainer'>  </div>
            {{> home-info cup}}
            </div>
        </div>    
    </div>
    {{/each}}
</div>
